<ul class="pager">
  <li class="previous"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>

<% # panel-default", "panel-primary", "panel-success", "panel-info", "panel-warning", "panel-danger" %>
<div class="panel panel-primary">
  <div class="panel-heading"><h3>Mix Set Description</h3></div>
  <div class="panel-body">
  
    <div class="search_result">
      <% @mixes.each do |mix| %>
        <% previe_hash = mix.info[:preview] %>
        <% duration = previe_hash[:duration] %>
        <% tracks_count = previe_hash[:tracks_count] %>
        <% cover_urls = previe_hash[:cover_urls] %>

        <% # TODO: hide and show content %>
        <div class="content-exchange-box">
          <%= image_tag(cover_urls, class: 'img-rounded visible', size: '200x200') %>
          <div class="hidden-content">This is hidden content</div>
        </div>
      <% end %>
    </div>


  </div>
  <div class="panel-footer">
    <span>Footer content</span>
  </div>
</div>



        
