
<% # panel-default", "panel-primary", "panel-success", "panel-info", "panel-warning", "panel-danger" %>

    
    <div class="search_result">
      <ul class="pager">
        <% if @previous_page_path %>
          <li class="previous"><%= link_to("上一頁", 
                                           next_page_path(next_page_path: @previous_page_path), 
                                           remote: true) %></li>
        <% end %>
        <% if @next_page_path %>
          <li class="next"><%= link_to("下一頁", 
                                       next_page_path(next_page_path: @next_page_path), 
                                       remote: true) %></li>
        <% end %>
      </ul>
      <hr />
      <% @mixes.each do |mix| %>
        <%= render 'mix', mix: mix %>
      <% end %>
      <div style="clear:both; padding-top:20px;"></div>
      <hr/>
    </div>


<script>
  $(".content-exchange-box").off('ajax:beforeSend');
  $(".content-exchange-box").on('ajax:beforeSend', function (status, xhr, settings) {
    xhr.abort();
  });
  $(".pager").off('ajax:beforeSend');
  $(".pager").on('ajax:beforeSend', function (status, xhr, settings) {
    xhr.abort();
  });
  // pagination ajax may send twice requext
  //$(".panel-primary").on('ajax:beforeSend', function (status, xhr, settings) {
  //  xhr.abort();
  //});
</script>