
<div id="mixes-show-detailed-wrapper">
  <div id="mixe-show-detailed-left-column">
    
    <% @mixes.each do |mix| %>
      <%= render 'mix_detailed_block', mix: mix %>
    <% end %>

    <ul class="pager">
      <% if @previous_page_path %>
        <li class="previous"><%= link_to("上一頁", 
                                         next_page_path(next_page_path: @previous_page_path), 
                                         remote: true) %></li>
      <% end %>
      <% if @next_page_path %>
        <li class="next"><%= link_to("下一頁", 
                                     next_page_path(next_page_path: @next_page_path), 
                                     remote: true) %></li>
      <% end %>
    </ul>
  </div>
  <div id="mixe-show-detailed-right-column">mixe-show-detailed-right-column</div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">編輯我的收藏</h4>
      </div>
      <!-- Modal Body goes here -->
      <div class="modal-body">

        <% session[:collection_hash].each do |collection_name, collection_inside_hash| %>
          <section class="collection-list-wrapper">
            
            <section class="collection-list">
              <section class="collection-add-btn"><span class="glyphicon glyphicon-plus"></span></section>
              <span class="collection-name"><%= collection_name  %></span>
            </section>
          </section>
          
        <% end %>

        <section>
          Add New Collection..
        </section>
      </div>
      <div class="modal-footer">
        <span id="modal-hide-trigger">CloseX</span>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {

    // Modal instance
    var modal = $("#myModal");
    var modal_hide_trigger = $("#modal-hide-trigger");

    // Modal Dismiss
    modal_hide_trigger.click(function(event) { modal.modal('hide'); });

    modal_hide_trigger.hover(function() {
      $(this).css('color', '#808080');
    }, function() {
      $(this).css('color', '#333333');
    });

    // Modal Collection Animation
    $(".collection-list").hover(function() {
      /* Stuff to do when the mouse enters the element */
      var collection_name = $(this).find(".collection-name");
      $(this).css('background-color', 'LightGray');
      collection_name.animate({left: '20px'}, 200);
      collection_name.css('background-color', 'LightGray');

    }, function() {
      /* Stuff to do when the mouse leaves the element */
      var collection_name = $(this).find(".collection-name");
      $(this).css('background-color', 'white');
      
      collection_name.css('background-color', 'white');
      collection_name.stop();// Prevent rapidly animation.
    });
    $(".collection-list").mouseleave(function(event) {
      $(this).find(".collection-name").animate({left: '0px'}, 100);
    });

    // Modal Show off
    $(".mix-show-plus-btn").click(function (event) {
      
      modal.attr('mix-id', $(this).attr('mix-id'));
      $("#myModalLabel").html("將 " + $(this).attr('mix-title') + " 加入收藏");
      modal.modal();
    });
    
    
    $(".content-exchange-box").off('ajax:beforeSend');
    $(".content-exchange-box").on('ajax:beforeSend', function (status, xhr, settings) {
      xhr.abort();
    });
    $(".pager").off('ajax:beforeSend');
    $(".pager").on('ajax:beforeSend', function (status, xhr, settings) {
      xhr.abort();
    });
    // pagination ajax may send twice requext
    //$(".panel-primary").on('ajax:beforeSend', function (status, xhr, settings) {
    //  xhr.abort();
    //});
  });
</script>