<h4>This is Mix Show Page</h4>

<div class="mix-show-page">

  <div class="img_container">
    <div class="img-body"><%= image_tag(@mix_cover_url) %></div>
    <div class="mix-play-btn"><span class="glyphicon glyphicon-play"></span></div>
  </div>

  <div class="mix-desc" >
    mix description here.....
  </div>
</div>


