<div id="web-site-info-container">

  <div class="auto-centered-container">
    <ul>
      <li><%= link_to 'About', '#' %></li>
    </ul>    

    <ul>
      <li><%= link_to( raw("Copyright <span class='glyphicon glyphicon-copyright-mark'></span>") , '#')  %></li>
    </ul>    

    <ul>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </div>

</div>

