<div id="music_player_container">
  <div id="music_player">
    <div id="controls">
      <table>
      	<tr>
      	  <td class="control-btn" id="play-btn"><span class="glyphicon glyphicon-play"></span><div class="light-box"></div></td>
      	  <td class="control-btn" id="pause-btn"><span class="glyphicon glyphicon-pause"></span><div class="light-box"></div></td>
      	  <td class="control-btn" id="skip-btn"><span class="glyphicon glyphicon-step-forward"></span><div class="light-box"></div></td>
          <td id="mix-info-pane">
            <span id="track-name"></span><span id="performer"></span>
            <br>
            <span id="album-name"></span><span id="year"></span>
            <div id="duration-runner"></div>
          </td>
      	</tr>
      </table>
    </div>
  </div>
</div>

