<div id="music_player_container">
  <div id="music_player">
    <div id="controls">
      <table>
      	<tr>
      	  <td id="play-btn"><span class="glyphicon glyphicon-play"></span><div class="light-box"></div></td>
      	  <td id="pause-btn"><span class="glyphicon glyphicon-pause"></span><div class="light-box"></div></td>
      	  <td id="skip-btn"><span class="glyphicon glyphicon-step-forward"></span><div class="light-box"></div></td>
      	</tr>
      </table>
    </div>
  </div>
</div>

