<h3>I am a title</h3>
<p>
  main content
</p>

<section>
  <input type='text' class="date_picker">
</section>

<br><hr>

<section>   
  <span class="tooltip"></span>   
  <div id="slider-vertical"></div>  
  <span class="volume"></span>  
</section> 


<script>
  $(".date_picker").datepicker();
</script