@mixin border-right($color) { border-right: solid 2px $color; }

@mixin follow-btn($color) {
  border: 0px solid LightGray;
  background-color: $color;
  color: white;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

@mixin play-btn-lg($back-color) {
  text-align: center;
  color: white;
  font-size: 80px;
  background-color: black;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;

  

  &:hover { opacity: .7; cursor: pointer; text-decoration: none; }
}

@mixin sm-tag {
  margin: .2em;
  padding: .3em;
  background-color: LightGray;
  color: white;
  font-size: 1em;
  border-radius: .2em;
  font-weight: bold;
  a {
  	color: white;
  	&:hover { text-decoration:none; }
  }
}