/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 /** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


html { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, "Microsoft JhengHei" ; 
  background: #fff;

  header {
    #home-btn {
      color: white;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);

      transition: transform 2s linear;
      -webkit-transition: transform 2s linear;
      -moz-transition: transform 2s linear;
      -o-transition: transform 2s linear;

      &:hover { 
        text-decoration: none; color: white; 
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
      }
    }
    .search_input { 
      background-color: white; }
    #words_input { 
      background-image: url('/assets/search.png'); 
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-color: #30302F;
      transition: background-color .2s ease-in-out;
      &:focus { 
        background-color: white;
        border-color: #30302F;
      }
    }
  }

  /* hover to trigger bootstrap navbar menu dropdown */
  ul.nav li.dropdown:hover > ul.dropdown-menu { display: block;}

  .clear { clear: both; }

  a:hover {text-decoration: none;}

  body {
    position: relative;
    min-height: 900px;
    font-family: Microsoft JhengHei, sans-serif;
    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
    }

    header {
      .navbar{
        /* opacity: .9; */
        border-radius: 0px;
      }
    }
    .top_level_container {
      padding: 15px;
      min-height: 900px;

      hr {
          border-color: LightGray;
          margin: 0;
          margin-bottom: 1.2em;
        }    

      .left_container { }
      
      .right_container { 
        padding-top: 15px;
        #hot-tags-container {
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }    

    /* for those trending tags */
    .tags {
      margin-right: 0.1em;
      line-height: 1.8em;
      .label {
        border-radius: 10px;
      }
    }    
    
    

    .nav_links {
      height: 40px;
      display: table-cell;
      vertical-align: middle;
      color: white;
      font-size: 17px;
      li {
        display: inline;
        padding-right: 25px;    

        a {
          cursor: pointer;
          color: white;
          text-decoration: none;    

          /* transition initial value */
          opacity: 0.75;
          /* transition state setup */
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
          &:hover {
            opacity: 1; /* transition ending value */
          }
        }
      }
    }    

    .fake_link {
      color: LightBlue;
      &:hover {
        cursor: pointer;
      }
    }    

    /* display format modify */    

    .pull-center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }    

    .display-in-line {
      display: inline;
    }    

    .font_size_enlarge {
      font-size: 150%;
    }    

    .banner_title {
      font-size: 22px;
    }
  }
}