// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin mix {
  .content-exchange-box {
    float: left;
    margin: 1em;
    height: 180px;
    width: 180px;
    position: relative;
    &:hover {
      z-index: 9;
    }
    .visible {
      height: 180px;
      width: 180px;
      position: absolute;
      z-index: 1;
    }
    #hidden-content-link-to-show-mix {
      height: 180px;
      width: 180px;
      opacity: 0;
      background-color: white;
      position: absolute;
      z-index: 3;
      border-radius: 5px;
      clear: both;
      transition: opacity .1s ease-in-out;
      -moz-transition: opacity .1s ease-in-out;
      -webkit-transition: opacity .1s ease-in-out;
      &:hover {
        opacity: .9;
      }
      .hidden-link {
        height: 180px;
        width: 180px;
        position: absolute;
        background-color: transparent;
        z-index: 2;
      }
      .play-btn {
        z-index: 3;
        a {
          color: LightPink;
          transition:         color .1s ease-in-out;
          -moz-transition:    color .1s ease-in-out;
          -webkit-transition: color .1s ease-in-out;
          &:hover { color: LightBlue; }
        }
        font-size: 3em;
        position: absolute;
        right: 10px;
        bottom: -5px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
        
        transition:         transform .25s ease-in-out;
        -moz-transition:    transform .25s ease-in-out;
        -webkit-transition: transform .25s ease-in-out;
        &:hover {
          cursor: pointer;
          transform:rotate(120deg);
          -ms-transform:rotate(120deg); /* IE 9 */
          -webkit-transform:rotate(120deg); /* Opera, Chrome, and Safari */
        }
      }
      .tags-list-cache {
        margin: .5em;
        .label {
          border-radius: 5px;
        }
      }
      .play-counts {
        margin: .5em;
      }
      .like-counts {
        margin: .5em;
        span {
          font-size: 1.4em;
        }
      }
    }
  }
}
@mixin glider-container {
  position: relative;
  border-top: solid 1px LightGray;
  //border-bottom: 1px solid LightGray;
  padding-left: 40px;
  margin-bottom: 20px;
  width: 900px; // 850
  height: 210px; // 210
  overflow: hidden;
}
@mixin glider-after {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
  content: ' ';
  height: 210px;
  width: 40px;
  background-color: white;
}
@mixin glider-before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 30;
  height: 210px;
  width: 40px;
  background-color: white;
}
@mixin glider-pan {
  font-size: 22px; 
  color: LightGray;
  z-index: 31; 
  opacity: .7;
  cursor: pointer;
  // scale init value 
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  // scale transition set up
  transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: tarnsform .2s ease-in-out; 
  // transition on hover
  &:hover { transform: scale(2.5); }
}
html { body { @include mix; } }

// Glider trending
#glider-container-trending {
  @include glider-container;
  #glider-pan-left, #glider-pan-right {  @include glider-pan; }
  #glider-pan-left { position: absolute; top: 100px; left: 10px; } 
  #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
  #glider-pan-right { position: absolute; top: 100px; right: 10px; }
}
#glider-container-trending::after { @include glider-after; }
#glider-container-trending::before { @include glider-before; }
// Glider favor
#glider-container-favor {
  @include glider-container;
  //background-color: red;
  #glider-pan-left, #glider-pan-right {  @include glider-pan; }
  #glider-pan-left { position: absolute; top: 100px; left: 10px; } 
  #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
  #glider-pan-right { position: absolute; top: 100px; right: 10px; }
}
#glider-container-favor::after { @include glider-after; }
#glider-container-favor::before { @include glider-before; }
.clear-both { clear: both; }

#hot-tags a { 
  color: white; 
  &:hover { 
    text-decoration: none; 
  } 
}

