
.clear-both { clear: both; }  

@mixin glider-container {
  position: relative;
  border-top: solid 1px LightGray;
  //border-bottom: 1px solid LightGray;
  padding-left: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 630px; // 850
  height: 170px; // 210
  overflow: hidden;
}
@mixin glider-after {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
  content: ' ';
  height: 210px;
  width: 40px;
  background-color: white;
}
@mixin glider-before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 30;
  height: 210px;
  width: 40px;
  background-color: white;
}
@mixin glider-pan {
  font-size: 12px; 
  color: LightGray;
  z-index: 31; 
  opacity: .7;
  cursor: pointer;
  // scale init value 
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  // scale transition set up
  transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: tarnsform .2s ease-in-out; 
  // transition on hover
  &:hover { transform: scale(2.5); }
}
.home-2-column-wrapper {
  width: 1000px; margin: 0 auto;// wrapper div for folloiwng 2 columns.
  h4 { font-size: 14px; font-family: 'arial'; }
  #home-left-column-wrapper {
    width: 650px; float: left;
    //background-color: green;
    #hot-tags-container { 
      width: 640px;
      .mix-title { display: inline; margin-right: 20px; }
      .glyphicon-chevron-down { color: LightGray; }
      hr { margin-top: 5px; }  
    }  
    // Glider trending
    #glider-container-trending {
      @include glider-container;
      #glider-pan-left, #glider-pan-right {  @include glider-pan; }
      #glider-pan-left { position: absolute; top: 75px; left: 10px; } 
      #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
      #glider-pan-right { position: absolute; top: 75px; right: 10px; }
    }
    #glider-container-trending::after { @include glider-after; }
    #glider-container-trending::before { @include glider-before; }
    // Glider favor
    #glider-container-favor {
      @include glider-container;
      #glider-pan-left, #glider-pan-right {  @include glider-pan; }
      #glider-pan-left { position: absolute; top: 75px; left: 10px; } 
      #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
      #glider-pan-right { position: absolute; top: 75px; right: 10px; }
    }
    #glider-container-favor::after { @include glider-after; }
    #glider-container-favor::before { @include glider-before; }    

    // Glider Recommended
    #glider-container-recommended {
      @include glider-container;
      #glider-pan-left, #glider-pan-right {  @include glider-pan; }
      #glider-pan-left { position: absolute; top: 75px; left: 10px; } 
      #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
      #glider-pan-right { position: absolute; top: 75px; right: 10px; }
    }
    #glider-container-recommended::after { @include glider-after; }
    #glider-container-recommended::before { @include glider-before; }
    // Glider New Mix
    #glider-container-new {
      @include glider-container;
      #glider-pan-left, #glider-pan-right {  @include glider-pan; }
      #glider-pan-left { position: absolute; top: 75px; left: 10px; } 
      #mix-window-wrapper { position: relative; width: 3000px; height: 100%; }
      #glider-pan-right { position: absolute; top: 75px; right: 10px; }
    }
    #glider-container-new::after { @include glider-after; }
    #glider-container-new::before { @include glider-before; }  
    #hot-tags-container a { 
      .display-inline { margin: 0; }
      color: white; 
      &:hover { 
        text-decoration: none; 
      } 
    }
    #hot-tags-toggle-show-and-hide-arrow { margin-left: 10px; color: LightGray; cursor: pointer; }
  }
  #home-right-column-wrapper { 
    float: right; width: 350px; height: 100%; padding-left: 20px;
    background-color: LightBlue;
    .nav-horizontal-300x500  { margin-bottom: 10px; width: 300px; height: 500px; background-color: LightPink; }
    .home-commercial-300x600 { margin-bottom: 10px; width: 300px; height: 600px; background-color: LightGray; }
    .home-commercial0300x376 { margin-bottom: 10px; width: 300px; height: 376px; background-color: LightGray; }
  }
}


