// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'ui_elements';

.navbar-brand {
  font-size: 30px;
  font-weight: bolder;
}

.modal-group {
  #lean-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000;
    opacity: 0.5;
  }
  #login_form {
    position: fixed;
    top: 150px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    background-color: white;
    border: 1px solid DarkGray;
    border-radius: 5px;
    z-index: 100;
  }
}


.main_container { 

    /* index page */
  .search_result {
    width: 903px;
    .content-exchange-box {
      
      float: left;
      margin: .2em;
      height: 133px;
      width: 133px;
      position: relative;
      &:hover {
        z-index: 9;
      }
      .visible {
        height: 133px;
        width: 133px;
        position: absolute;
        z-index: 1;
      }
      #hidden-content-link-to-show-mix {

        height: 133px;
        width: 133px;
        opacity: 0;
        background-color: white;
        position: absolute;
        z-index: 3;
        //border-radius: 5px;
        clear: both;
        transition: opacity .1s ease-in-out;
        -moz-transition: opacity .1s ease-in-out;
        -webkit-transition: opacity .1s ease-in-out;
        &:hover {
          opacity: .9;
        }
        .hidden-link {
          height: 133px;
          width: 133px;
          position: absolute;
          background-color: transparent;
          z-index: 2;
        }
        .play-btn {
          z-index: 3;
          a {
            color: LightPink;
            transition:         color .1s ease-in-out;
            -moz-transition:    color .1s ease-in-out;
            -webkit-transition: color .1s ease-in-out;
            &:hover { color: LightBlue; }
          }
          font-size: 3em;
          position: absolute;
          right: 10px;
          bottom: -5px;
          transform:rotate(0deg);
          -ms-transform:rotate(0deg); /* IE 9 */
          -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
          
          transition:         transform .25s ease-in-out;
          -moz-transition:    transform .25s ease-in-out;
          -webkit-transition: transform .25s ease-in-out;
          &:hover {
            cursor: pointer;
            transform:rotate(120deg);
            -ms-transform:rotate(120deg); /* IE 9 */
            -webkit-transform:rotate(120deg); /* Opera, Chrome, and Safari */
          }
        }
        .tags-list-cache {
          margin: .5em;
          .label {
            //border-radius: 5px;
          }
        }
        .play-counts {
          margin: .5em;
        }
        .like-counts {
          margin: .5em;
          span {
            font-size: 1.4em;
          }
        }
      }
    }
  }
  table td {vertical-align: top;}

  /* UI elements*/
  .follow-btn {
    
  }

  /* page css control */
  .mix-show-page {
    .img-container {
      -webkit-position: relative;
      -moz-position: relative;
      position: relative;
      vertical-align: bottom;
      a { color: white; 
        &:hover { color: white; text-decoration: none; }
      }
      #mix-name-container {
        position: absolute;
        top: 20px;
        width: 100%;
        text-align: center;
        #mix-name {
          margin-left: auto;
          margin-right: auto;
          background-color: black;
          padding: 10px;
          //border-top-left-radius: 8px;
          opacity: 0.4;
          font-size: 30px;
          color: white;
        }
      }
      #play-btn-lg {
        -moz-position: absolute;
        -webkit-position: absolute;
        position: absolute;
        bottom: 10px;
        left: 10px;
        @include play-btn-lg(LightGray);
      }
    }
    .glyphicon-container {
      position: relative;
      min-width: 100px;
      text-align: center;
      @include border-right(LightGray);
      padding: 10px;
      span {
        display: block;
        font-size: 35px;
        line-height: 60px;
      }
      .glyphicon-heart {
        position: relative;
        right: 2px;
      }
      .share-container {
        position: relative;
        top: 80px;
        height: 150px;
      }
    }
    .glyphicon-container::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: 100px;
      top: 50px;
      border: 20px solid;
      border-color: transparent transparent transparent LightGray; //create dark-gray right-hand ▶
    }
    .glyphicon-container::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: 98px;
      top: 50px;
      border: 20px solid;
      border-color: transparent transparent transparent #FFF; //create white right-hand ▶
    }
    .mix-dj-info {
      min-width: 400px;      
      padding-right: 10px;
      padding-left: 40px;
      #dj-name, #dj-location, #dj-follow-btn { padding-left: 15px; vertical-align: middle;}
      #dj-name { font-size: 20px; font-weight: bold;}
      #dj-location { font-size: 20px; color: DarkGray;}
      #dj-follow-btn button { @include follow-btn(LightBlue); }

      #commercial { 
        width:250px; height:250px; padding-top:1.2em; 
        background-color:blue; margin-top:20px;
        vertical-align: middle;
        text-align: center;
      }

      #dj-mixes {
        background-color: LightPink;
        padding-top: 1.2em;
        height: 171px;
      }
    }

    .mix-info {
      color: #322D38;
      hr {border-width: 2px; margin-top: 1em;}
      padding: 10px;
      line-height: 2em;

      span {
        @include sm-tag;
      }
    }
  }
}
