// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'ui_elements';

@mixin header-bg-gradient {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
}

h4 { font-size: 14px; }

#mixes-show-detailed-wrapper {
  width: 1200px; margin: 0 auto; 
  //background-color: blue;
  #mixe-show-detailed-left-column { 
    width: 850px; float: left; 
    //background-color: red;
    #detailed-mix-wrapper {
      margin-bottom: 20px;
      .photo-area { 
        position: relative;
        width: 250px; height: 250px; float: left; 
        .img-container { position: absolute; top: 0; left: 0  }
        .hidden-content-container {
          position: absolute; bottom: 10px; left: 10px;
          border: 1px solid #cccccc; border-radius: 2px;
          width: 70px; height: 37px; background-color: #000000;
          .show-page-play-btn, .mix-show-plus-btn { color: white; font-size: 30px; cursor: pointer; }
          .bs-modal-sm { width: 500px; }
        }
      }
      #text-area {
        float: right; 
        width: 600px; height: 250px; line-height: 22px;
        padding-left: 10px;
        border-bottom: 1px solid LightGray; 
        &>span { display: block; color: #4c4c4c; }
      }
    }
  }
  #mixe-show-detailed-right-column { width: 350px; height: 300px; float: right; background-color: LightPink; }
}

// Modal CSS
#myModal {
  .modal-body {
    .collection-list-wrapper {
      width: 95%; height: 30px; margin: 3px;
      position: relative;

      .collection-list { 
        position: relative; 
        min-width: 30px; height: 100%; background-color: white;
        cursor: pointer;
        .collection-add-btn { 
          position: absolute; top: 0; left: 0; width: 20px; height: 30px;
          font-size: 18px; color: #333333;
        }
        .collection-name { 
          position: absolute; left: 0; top: 0;
          font-size: 20px; background-color: white; z-index: 1; 
        }
      }
    }
    #add-collection-form-wrapper {
      width: 520px; height: 45px; 
      #form-body input, #form-button { padding: 3px; font-size: 16px;  border: 1px solid LightGray; height: 45px; }
      #form-body input { 
        outline: none;
        width: 380px;  float: left; 
        color: DarkGray;
        &:focus { border-color: DarkGray; box-shadow: 0 0 0 0; }
      }
      #form-button { 
        width: 120px; float: right; 
        color: DarkGray;
        cursor: pointer;
      }
    }
    #submit-btn { width: 40px; display: inline; } 
  }
  .modal-footer {
    #modal-hide-trigger { font-size: 20px; cursor: pointer; }
  }
}

#header-nav-bar-bg {
  background-color: #ddd;
  width: 100%; height: 60px;
  #nav-bar-container {
    position: relative;
    width: 1200px; height: 60px;
    #home-btn { margin-right: 30px; margin-left: 30px; }
    #home-btn, #form-search-container, #user-pane-container { display: inline-block; }
    #home-btn { position: relative; top: 8px;}
    #form-search-container { 
      //background-color: blue; 
      padding-top: 8px; margin-left: 400px;
      width: 550px; height: 60px;
      select {  width: 80px; display: inline; }
      input { width: 350px; height: 45px; display: inline; }
      .form-group { display: inline; margin-right: 10px;}
    }
    #user-pane-container {
      #login-btn, #logout-btn { position: relative; top: 7px; }
      a { color: white; font-size: 30px; }
    }
  }
}

.navbar-brand { font-size: 30px; font-weight: bolder; }
.main_container { 
    /* index page */
  #mixes_show_detailed_wrapper { width: 570px; }
  .content-exchange-box {
    float: left;
    margin: .2em;
    height: 133px;
    width: 133px;
    position: relative;
    &:hover {
      z-index: 9;
    }
    .visible {
      height: 133px;
      width: 133px;
      position: absolute;
      z-index: 1;
    }
    #hidden-content-link-to-show-mix {
      height: 133px;
      width: 133px;
      font-size: 12px;
      opacity: 0;
      background-color: white;
      position: absolute;
      z-index: 3;
      //border-radius: 5px;
      clear: both;
      transition: opacity .1s ease-in-out;
      -moz-transition: opacity .1s ease-in-out;
      -webkit-transition: opacity .1s ease-in-out;
      &:hover {
        opacity: .9;
      }
      .hidden-link {
        height: 133px;
        width: 133px;
        position: absolute;
        background-color: transparent;
        z-index: 2;
      }
      .play-btn {
        z-index: 3;
        a {
          color: LightPink;
          transition:         color .1s ease-in-out;
          -moz-transition:    color .1s ease-in-out;
          -webkit-transition: color .1s ease-in-out;
          &:hover { color: LightBlue; }
        }
        font-size: 2em;
        position: absolute;
        right: 10px;
        bottom: -5px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
        
        transition:         transform .25s ease-in-out;
        -moz-transition:    transform .25s ease-in-out;
        -webkit-transition: transform .25s ease-in-out;
        &:hover {
          cursor: pointer;
          transform:rotate(120deg);
          -ms-transform:rotate(120deg); /* IE 9 */
          -webkit-transform:rotate(120deg); /* Opera, Chrome, and Safari */
        }
      }
      .tags-list-cache {
        margin: .5em;
        .label {
          //border-radius: 5px;
        }
      }
      .play-counts {
        margin: .5em;
      }
      .like-counts {
        margin: .5em;
        span {
          font-size: 1.4em;
        }
      }
    }
  }
  table td {vertical-align: top;}

  /* UI elements*/
  .follow-btn {
    
  }

  /* page css control */
  .mix-show-page {
    .img-container {
      -webkit-position: relative;
      -moz-position: relative;
      position: relative;
      vertical-align: bottom;
      a { color: white; 
        &:hover { color: white; text-decoration: none; }
      }
      #mix-name-container {
        position: absolute;
        top: 20px;
        width: 100%;
        text-align: center;
        #mix-name {
          margin-left: auto;
          margin-right: auto;
          background-color: black;
          padding: 10px;
          //border-top-left-radius: 8px;
          opacity: 0.4;
          font-size: 30px;
          color: white;
        }
      }
      #play-btn-lg {
        -moz-position: absolute;
        -webkit-position: absolute;
        position: absolute;
        bottom: 10px;
        left: 10px;
        @include play-btn-lg(LightGray);
      }
    }
    .glyphicon-container {
      position: relative;
      min-width: 100px;
      text-align: center;
      @include border-right(LightGray);
      padding: 10px;
      span {
        display: block;
        font-size: 35px;
        line-height: 60px;
      }
      .glyphicon-heart {
        position: relative;
        right: 2px;
      }
      .share-container {
        position: relative;
        top: 80px;
        height: 150px;
      }
    }
    .glyphicon-container::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: 100px;
      top: 50px;
      border: 20px solid;
      border-color: transparent transparent transparent LightGray; //create dark-gray right-hand ▶
    }
    .glyphicon-container::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: 98px;
      top: 50px;
      border: 20px solid;
      border-color: transparent transparent transparent #FFF; //create white right-hand ▶
    }
    .mix-dj-info {
      min-width: 400px;      
      padding-right: 10px;
      padding-left: 40px;
      #dj-name, #dj-location, #dj-follow-btn { padding-left: 15px; vertical-align: middle;}
      #dj-name { font-size: 20px; font-weight: bold;}
      #dj-location { font-size: 20px; color: DarkGray;}
      #dj-follow-btn button { @include follow-btn(LightBlue); }

      #commercial { 
        width:250px; height:250px; padding-top:1.2em; 
        background-color:blue; margin-top:20px;
        vertical-align: middle;
        text-align: center;
      }

      #dj-mixes {
        background-color: LightPink;
        padding-top: 1.2em;
        height: 171px;
      }
    }

    .mix-info {
      color: #322D38;
      hr {border-width: 2px; margin-top: 1em;}
      padding: 10px;
      line-height: 2em;

      span {
        @include sm-tag;
      }
    }
  }
}
