// Place all the styles related to the modal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin form_input { height: 50px; border-radius: 0px; font-family: 'ariel', 'menlo'; font-size: 18px; }

#modal-login-main-container {
  //display: none;
  z-index: 99;
  .lean-bg {
  	z-index: 99;
    position: absolute;
    top: 0; left: 0;
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
  }
  #sign-in-form-container {
  	position: fixed; z-index: 99;
    width: 500px; min-height: 400px;
  	top: 200px; left: 300px;
    //border: 1px solid black; 
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: #EBEDED;
  	padding: 20px;
  	.simple_form {
  	  margin-left: 20px;
  	  margin-right: 100px;
  	  margin-top: 20px;
  	  #login-btn { width: 100px; height: 40px; position: relative; left: -15px; border-radius: 0px;}
      #user_email, #user_password, #user_username { @include form_input; }
      #user_username { display: none; }
  	}
  	#remove-btn {
  	  position: absolute;
  	  top: 5px; right: 5px; cursor: pointer; font-size: 20px; color: black;
  	  transform: rotate(0deg);
  	  -webkit-transform: rotate(0deg);
  	  transition: transform .2s;
  	  -webkit-transition: -webkit-transform .2s;
  	  &:hover {  
  	  	transform: rotate(90deg);
  	    -webkit-transform: rotate(90deg);
  	  }
  	}
    #signup-link { position: absolute; right: 10px; bottom: 10px; cursor: pointer; }
  }
}



