// Place all the styles related to the modal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin form_input { height: 50px; border-radius: 5px; font-family: 'ariel', 'menlo'; font-size: 18px; }
@mixin sky-blue-bg {
  background: #88bfe8; /* Old browsers */
  background: -moz-linear-gradient(top,  #88bfe8 0%, #70b0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#70b0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #88bfe8 0%,#70b0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
}
#modal-login-main-container {
  //display: none;
  border-radius: 5px;
  z-index: 99;
  .lean-bg {
  	z-index: 99;
    position: absolute;
    top: 0; left: 0;
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
  }
  #sign-in-form-container {
    #form-header { 
      width: 100%; text-align: center;
      font-size: 20px; color: white;
    }
    #form-footer { 
      text-align: center; color: white; font-size: 20px;
      margin-top: 30px; 
    }
  	position: fixed; z-index: 99;
    width: 500px; min-height: 400px;
  	top: 200px; left: 300px;
    //border: 1px solid black; 
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    @include sky-blue-bg;
  	padding: 20px;
  	.simple_form {
  	  margin-left: 20px;
  	  margin-right: 100px;
  	  margin-top: 20px;
  	  #login-btn { width: 370px; height: 50px; position: relative; left: -15px; border-radius: 5px;}
      #user_email, #user_password, #user_username { @include form_input; }
      #user_username { display: none; }
  	}
  	#remove-btn {
  	  position: absolute;
  	  top: 5px; right: 5px; cursor: pointer; font-size: 20px; color: black;
  	  transform: rotate(0deg);
  	  -webkit-transform: rotate(0deg);
  	  transition: transform .2s;
  	  -webkit-transition: -webkit-transform .2s;
  	  &:hover {  
  	  	transform: rotate(90deg);
  	    -webkit-transform: rotate(90deg);
  	  }
  	}
    #signup-link { position: absolute; right: 10px; bottom: 10px; cursor: pointer; }
  }
}



