// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin clean-background {
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(transparent),
    to(transparent));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid transparent;
  -moz-box-shadow:
    0px 0px 0px transparent,
    inset 0px 0px 0px transparent;
  -webkit-box-shadow:
    0px 0px 0px transparent,
    inset 0px 0px 0px transparent;
  box-shadow:
    0px 0px 0px transparent,
    inset 0px 0px 0px transparent;
}
@mixin control-btn {
  background: -moz-linear-gradient(
    top,
    #040405 0%,
    #222224);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#040405),
    to(#222224));
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #000000;
  -moz-box-shadow:
    0px 0px 2px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.3);
  -webkit-box-shadow:
    0px 0px 2px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.3);
  box-shadow:
    0px 0px 2px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.3);
}
@mixin dark-blue-box-shadow-bg {
  background: -moz-linear-gradient(
  	top,
  	#2c303b 0%,
  	#0e0f14);
  background: -webkit-gradient(
  	linear, left top, left bottom,
  	from(#2c303b),
  	to(#0e0f14));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #171517;
  -moz-box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  -webkit-box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
}
@mixin control-btn-hover {
  background: -moz-linear-gradient(
  	top,
  	#818491 0%,
  	#43454f);
  background: -webkit-gradient(
  	linear, left top, left bottom,
  	from(#818491),
  	to(#43454f));
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 0px solid #171517;
  -moz-box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  -webkit-box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
}

#music_player_container {
  /* box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
  @include dark-blue-box-shadow-bg;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9;
  bottom: 0px;
  left: 0px;
  #music_player {
    background-color: transparent;
    padding: 0px;
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    #controls {
      .control-btn:hover { cursor: pointer; }
      table { margin-top: 10px; }
      table .light-box {
      	position: absolute;
      	width: 100%;
      	height: 100%;
      	background-color: white;
      	opacity: 0;
      	top: 0px;
      	left: 0px;
      	transition: opacity .1s linear;
        -moz-transition: opacity .1s linear;
        -webkit-transition: opacity .1s linear;
      	&:hover { opacity: .1; }
      }
      table td {
        @include control-btn;
      	position: relative;
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
        padding: 9px 10px 4px 10px;
        border: none;
      }
      #youtube-trigger { width: 55px; font-size: 12px; }
      #mix-info-pane {
        span { z-index: 11;}
        text-align: left;
        width: 600px;
        font-size: 11px;
        line-height: 20px;
        font-family: 'menlo';
        color: #E3E3E3;
        #performer { margin-left: 10px; }
        #year { margin-left: 20px;}
        #duration-runner {
          position: absolute;
          top: 0px;
          left: 0px;
          opacity: 0.1;
          background-color: white;
          width: 0%;
          height: 100%;
          z-index: 10;
          padding: 0px;
          margin: 0px;
        }
        #buy-icon-and-toggle-like-track-container {
          // TODO: buy message area css modification!
          position: absolute; right: 0; top: 0;
          width: 160px;
          height: 54px;
          content: 'Buy Icon';
          color: white;
          table { td {  @include clean-background; } }
        }
      }
      #volume-control {
        cursor: pointer;
        position: relative;
        left: 5px;
        width: 50px;
        @include clean-background;
        .glyphicon-volume-up {}
        #hidden-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 54px;
          @include control-btn;
          display: none;
        }
        #volume-slider {
          position: absolute;
          top: -150px;
          left: 3px;
          width: 45px; height: 150px;
          border-radius: 5px;
          .ui-slider-handle { display: none; }          
          .ui-widget-content { border-color: red; background-color: red; }
        }
      }
      #user-set-info-action {
        padding-top: 0px;
        position: relative;
        left: 14px;
        width: 250px;
        height: 54px;
        vertical-align: middle;
        font-size: 12px;
        line-height: 20px;
        font-size: 10px;
        #player-cover-sm { 
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
        }
        #player-mix-name { }
        #player-mix-dj-name { }
      }
    }
  }
}