// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin control-btn {
	background: -moz-linear-gradient(
		top,
		#4c5059 0%,
		#2e303b);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#4c5059),
		to(#2e303b));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 0px solid #171517;
	-moz-box-shadow:
		1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(000,000,000,0.6);
	-webkit-box-shadow:
		1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(000,000,000,0.6);
	box-shadow:
		1px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(000,000,000,0.6);
	/*text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3); */
}
@mixin dark-blue-box-shadow-bg {
  background: -moz-linear-gradient(
  	top,
  	#2c303b 0%,
  	#0e0f14);
  background: -webkit-gradient(
  	linear, left top, left bottom,
  	from(#2c303b),
  	to(#0e0f14));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #171517;
  -moz-box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  -webkit-box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  box-shadow:
  	1px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  text-shadow:
  	0px -1px 0px rgba(000,000,000,0.4),
  	0px 1px 0px rgba(255,255,255,0.3);
}
@mixin control-btn-hover {
  background: -moz-linear-gradient(
  	top,
  	#818491 0%,
  	#43454f);
  background: -webkit-gradient(
  	linear, left top, left bottom,
  	from(#818491),
  	to(#43454f));
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 0px solid #171517;
  -moz-box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  -webkit-box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  box-shadow:
  	0px 1px 3px rgba(000,000,000,0.5),
  	inset 0px 0px 1px rgba(000,000,000,0.6);
  /*text-shadow:
  	0px -1px 0px rgba(000,000,000,0.4),
  	0px 1px 0px rgba(255,255,255,0.3);*/
}

#music_player_container {
  /* box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
  @include dark-blue-box-shadow-bg;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9;
  bottom: 0px;
  left: 0px;
  #music_player {
    background-color: transparent;
    padding: 0px;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    #controls {
      table { margin-top: 10px; }
      table .light-box {
      	position: absolute;
      	width: 45px;
      	height: 45px;
      	background-color: white;
      	opacity: 0;
      	top: 0px;
      	left: 0px;
      	transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear;
      	&:hover {
      	  opacity: .1;
      	}
      }
      table td {
      	position: relative;
        vertical-align: middle;
        text-align: center;
        @include control-btn;
        font-size: 25px;
        padding: 9px 10px 4px 10px;
        border: none;
        &:hover:after {
          position: absolute;
          content: '';
          widows: 100%;
          height: 100%;
          background: white;
        }
      }
    }
  }
}