  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">

      <ul class="nav_links">
      	<li><span class="banner_title"><%= link_to 'Sound Hunter', home_path %></span></li>
      	<li><span >Linkage</span></li>
      	<li><span >Linkage</span></li>
      	<li><span >Linkage</span></li>
      </ul>

    </div>

    <div class="col-md-6 col-lg-6 col-sm-6">
      <ul class="nav_links pull-right" style="margin-right: 8em">
        <%= render 'layouts/user_dropdown_panel' %>
      </ul>
    </div>
  </div>