
<div id="header-nav-bar-bg">
  <div id="nav-bar-container">
    <%= link_to("音樂無限", {controller: :home, action: :welcome}, remote: true, class: "navbar-brand", id: 'home-btn') %>
    <div id="form-search-container"> <%= render 'shared/form_search' %></div>
    <div id="user-pane-container"><%= render 'layouts/user_pane' %></div>
  </div>
</div>


<script type="text/javascript">
  $("#home-btn").off('ajax:beforeSend')
  $("#home-btn").on('ajax:beforeSend', function (status, xhr, settions) {
    /* Act on the event */
    xhr.abort();
  });
</script>
